@charset "ISO-8859-1";
.div1{
	color:black;
    font-size: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 320px;
    padding: 40px 40px;
    box-sizing: border-box;
    background:#f0ebeb;;
    
}
header{
	background-color:#f5f5f5;
}
h1{
	color:#333;;
	font-size:40px;
}
.button{
	text-align: center;
	}
p{
	color:red;
}
h3{
	font-family: 'Open Sans', sans-serif;
	font-style:italic;
	color:#333;
	word-spacing: 2px;
	letter-spacing: 1px;
}